name: tests

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Run
      run: date

    - name: Secret
      run: echo ${{ secrets.SECRET }}
